<!-- views/account/update.ejs -->
<div id="update-account">
<h1>Update Account Information</h1>

<%- messages() %>
<% if (errors) { %>
  <ul>
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
  </ul>
  <% } %>

<form id='update-account' action="/account/update" method="POST">
  <h2>Account Update</h2>

  <!-- First Name -->
  <div>
    <label for="firstName">First Name</label>
    <input type="text" name="account_firstname" id="firstName" value="<%= accountData.account_firstname %>" required />
  </div>

  <!-- Last Name -->
  <div>
    <label for="lastName">Last Name</label>
    <input type="text" name="account_lastName" id="lastName" value="<%= accountData.account_lastname %>" required />
  </div>

  <!-- Email -->
  <div>
    <label for="email">Email Address</label>
    <input type="email" name="account_lastname" id="email" value="<%= accountData.account_email %>" required />
  </div>

  <!-- Hidden account id -->
  <input type="hidden" name="account_id" value="<%= accountData.account_id %>" />

  <button type="submit">Update Account</button>
</form>

<form action="/account/change-password" method="POST">
  <h2>Change Password</h2>

  <!-- New Password -->
  <div>
    <label for="password">New Password</label>
    <input type="password" name="password" id="password" required />
    <small>Min 8 characters, at least 1 letter and 1 number</small>
  </div>

  <!-- Hidden account id for password change -->
  <input type="hidden" name="account_id" value="<%= accountData.account_id %>" />

  <button type="submit">Change Password</button>
</form>
</div>