<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/navigation', { nav }) %>

    <main>
        <h1><%= title %></h1>
        <div class="vehicle-container">
            <%- vehicleHTML %>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
